.menu {
	position: fixed;
	z-index: 101;
	top: 0;
	left: -430px;

	overflow-y: auto;

	width: 100%;
	max-width: 430px;
	height: 100vh;
	padding-top: 145px;

	transition: all 0.4s ease;

	background-color: var(--white);
}

.menuActive {
	left: 0;
}

.button {
	position: absolute;
	top: 20px;
	right: 20px;
}

.nav {
	display: flex;
	flex-direction: column;

	height: fit-content;

	padding: 0 20px;
	gap: 28px;
}

.point {
	overflow: hidden;

	width: fit-content;

	cursor: pointer;
	user-select: none;

	text-align: left;
	letter-spacing: 2.2px;
	text-transform: uppercase;

	color: rgba(0, 0, 0, 1);

	background-color: var(--white);

	font-size: 22px;
	font-weight: 700;
	line-height: 22px;
}

.activePoint::before {
	position: relative;

	margin-right: 5px;

	content: '>';

	color: var(--gray-darken);

	font-size: 24px;
}

.activePoint::after {
	position: relative;

	margin-left: 5px;

	content: '<';

	color: var(--gray-darken);

	font-size: 24px;
}
