.main {
	width: 100%;
}

.mainContainer {
	display: grid;
	justify-items: center;

	margin: -22px 0 0;
	padding: 0 20px 40px;
	gap: 16px;
}

.date {
	width: 100%;

	margin-top: 32px;
	margin-bottom: 11px;

	text-align: left;

	color: var(--black);

	font-size: 18px;
	font-weight: 700;
	line-height: 26px;
	grid-column: 1 / -1;
}

@media (min-width: 769px) {
	.mainContainer {
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	}
}
